### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Pathway

In [2]:
path = r'C:\Users\mgril\OneDrive\Desktop\Instacart Basket Analysis Folder'

### Import Data Set

In [3]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
df_customers.head(1)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

In [5]:
#Rename columns
df_customers = df_customers.rename(columns={'First Name':'first_name', 'STATE':'state', 'Surnam':'last_name', 'Gender':'sex', 'Age':'age', 'n_dependants':'dependents'})

In [6]:
#Dropping n_dependants column from customer df
df_customers.drop(columns = ['first_name', 'last_name'])

,user_id,sex,state,age,date_joined,dependents,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...
206204,168073,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Female,California,27,4/1/2020,1,married,99799
206208,80148,Female,New York,55,4/1/2020,1,married,57095

In [7]:
# descriptive stats 
df_customers.describe()

             user_id            age     dependents         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
# check data types
df_customers.dtypes

user_id         int64
first_name     object
last_name      object
sex            object
state          object
age             int64
date_joined    object
dependents      int64
fam_status     object
income          int64
dtype: object

In [9]:
#Change user_id to a integer
df_customers['user_id'] = df_customers['user_id'].astype('int64')

In [10]:
#check for mixed data types
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

In [11]:
#Fix mixed data type by converting to a str
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [12]:
# check mixed data again
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

In [13]:
#check for missing values null
df_customers.isnull().sum()

user_id        0
first_name     0
last_name      0
sex            0
state          0
age            0
date_joined    0
dependents     0
fam_status     0
income         0
dtype: int64

In [14]:
# Check for duplicates 
df_dups = df_customers[df_customers.duplicated()]
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, sex, state, age, date_joined, dependents, fam_status, income]
Index: []

### Merge datasets

In [15]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_2.pkl'))

In [16]:
df_ords_prods_merged.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [17]:
df_ords_prods_merged.shape

(32404859, 25)

In [18]:
# Review data types
df_ords_prods_merged.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
_merge                    category
 price_range_loc            object
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
average_price              float64
spending_flag               object
median_prior_orders        float64
order_frequency_flag        object
dtype: object

In [19]:
#dropping merge column
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['add_to_cart_order','reordered', 'aisle_id'])

In [20]:
#dropping merge column
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['_merge'])

In [21]:
# Review data types after removal of merge in previous step
df_ords_prods_merged.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
product_name               object
department_id               int64
prices                    float64
 price_range_loc           object
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_price             float64
spending_flag              object
median_prior_orders       float64
order_frequency_flag       object
dtype: object

In [22]:
df_1 = df_ords_prods_merged[:16202429]

In [23]:
df_1.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,product_name,department_id,prices,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,Soda,7,9.0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [24]:
df_1.shape

(16202429, 21)

In [25]:
#merge data sets on user_id
df_merge_cust_ords = df_customers.merge(df_1, on = 'user_id', indicator = True)

In [26]:
df_merge_cust_ords.head(1)

,user_id,first_name,last_name,sex,state,age,date_joined,dependents,fam_status,income,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_orders,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.988889,Low spender,19.0,Regular customer,both

In [27]:
#dropping merge column from df_merge_cust_ords
df_merge_cust_ords = df_merge_cust_ords.drop(columns = ['_merge'])

In [28]:
# Review data types after removal of merge in previous step
df_merge_cust_ords.dtypes

user_id                     int64
first_name                 object
last_name                  object
sex                        object
state                      object
age                         int64
date_joined                object
dependents                  int64
fam_status                 object
income                      int64
order_id                    int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                  int64
product_name               object
department_id               int64
prices                    float64
 price_range_loc           object
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_price             float64
spending_flag              object
median_prior_orders       float64
order_frequency_flag       object
dtype: object

In [29]:
df_merge_cust_ords.shape

(16202429, 30)

In [31]:
#Export to pickle file
df_merge_cust_ords.to_pickle(os.path.join(path,'02 Data','Prepared Data', 'df_merge_cust_ords_.pkl'))